mixin carousel_professional(data)
    .carousel.slide#professional(data-ride='carousel',data-type='multi')
          //- Wrapper for slides
          .carousel-inner(role='listbox')
            div.item.active
              div.carousel-data.col-md-4.col-sm-4.col-xs-12.col-lg-4
                 .row
                    .col-sm-12
                      if data.ratings
                        figure
                          img(src="#{cdn('/ReviewImg1.png')}", alt='')
                          figcaption.text-center
                            h3 Robart Doe
                            span.fa.fa-star.ratings
                            span.fa.fa-star.ratings
                            span.fa.fa-star.ratings
                            h5.font-primary Knowledge:
                            p ERP Management / Javascript / Salesforce E-Commerce
                      else
                        figure
                          img(src="#{cdn('/ReviewImg1.png')}", alt='')
                          figcaption.text-center
                            h3 Robart Doe
                            h4.font-primary.text-primary UX Designer
                            h5.font-primary Knowledge:
                            p ERP Management / Javascript / Salesforce E-Commerce
                        
              div.carousel-data.col-md-4.col-sm-4.col-xs-12.col-lg-4
                 .row
                    .col-sm-12
                      if data.ratings
                        figure
                          img(src="#{cdn('/ReviewImg1.png')}", alt='')
                          figcaption.text-center
                            h3 Robart Doe
                            span.fa.fa-star.ratings
                            span.fa.fa-star.ratings
                            span.fa.fa-star.ratings
                            h5.font-primary Knowledge:
                            p ERP Management / Javascript / Salesforce E-Commerce
                      else
                        figure
                          img(src="#{cdn('/ReviewImg1.png')}", alt='')
                          figcaption.text-center
                            h3 Robart Doe
                            h4.font-primary.text-primary UX Designer
                            h5.font-primary Knowledge:
                            p ERP Management / Javascript / Salesforce E-Commerce 
                    
                       
              div.carousel-data.col-md-4.col-sm-4.col-xs-12.col-lg-4
                 .row
                    .col-sm-12
                      if data.ratings
                        figure
                          img(src="#{cdn('/ReviewImg1.png')}", alt='')
                          figcaption.text-center
                            h3 Robart Doe
                            span.fa.fa-star.ratings
                            span.fa.fa-star.ratings
                            span.fa.fa-star.ratings
                            h5.font-primary Knowledge:
                            p ERP Management / Javascript / Salesforce E-Commerce
                      else
                        figure
                          img(src="#{cdn('/ReviewImg1.png')}", alt='')
                          figcaption.text-center
                            h3 Robart Doe
                            h4.font-primary.text-primary UX Designer
                            h5.font-primary Knowledge:
                            p ERP Management / Javascript / Salesforce E-Commerce
            div.item
              div.carousel-data.col-md-4.col-sm-4.col-xs-12.col-lg-4
                 .row
                    .col-sm-12
                      if data.ratings
                        figure
                          img(src="#{cdn('/ReviewImg1.png')}", alt='')
                          figcaption.text-center
                            h3 Robart Doe
                            span.fa.fa-star.ratings
                            span.fa.fa-star.ratings
                            span.fa.fa-star.ratings
                            h5.font-primary Knowledge:
                            p ERP Management / Javascript / Salesforce E-Commerce
                      else
                        figure
                          img(src="#{cdn('/ReviewImg1.png')}", alt='')
                          figcaption.text-center
                            h3 Robart Doe
                            h4.font-primary.text-primary UX Designer
                            h5.font-primary Knowledge:
                            p ERP Management / Javascript / Salesforce E-Commerce
                        
              div.carousel-data.col-md-4.col-sm-4.col-xs-12.col-lg-4
                 .row
                    .col-sm-12
                      if data.ratings
                        figure
                          img(src="#{cdn('/ReviewImg1.png')}", alt='')
                          figcaption.text-center
                            h3 Robart Doe
                            span.fa.fa-star.ratings
                            span.fa.fa-star.ratings
                            span.fa.fa-star.ratings
                            h5.font-primary Knowledge:
                            p ERP Management / Javascript / Salesforce E-Commerce
                      else
                        figure
                          img(src="#{cdn('/ReviewImg1.png')}", alt='')
                          figcaption.text-center
                            h3 Robart Doe
                            h4.font-primary.text-primary UX Designer
                            h5.font-primary Knowledge:
                            p ERP Management / Javascript / Salesforce E-Commerce 
                    
                       
              div.carousel-data.col-md-4.col-sm-4.col-xs-12.col-lg-4
                 .row
                    .col-sm-12
                      if data.ratings
                        figure
                          img(src="#{cdn('/ReviewImg1.png')}", alt='')
                          figcaption.text-center
                            h3 Robart Doe
                            span.fa.fa-star.ratings
                            span.fa.fa-star.ratings
                            span.fa.fa-star.ratings
                            h5.font-primary Knowledge:
                            p ERP Management / Javascript / Salesforce E-Commerce
                      else
                        figure
                          img(src="#{cdn('/ReviewImg1.png')}", alt='')
                          figcaption.text-center
                            h3 Robart Doe
                            h4.font-primary.text-primary UX Designer
                            h5.font-primary Knowledge:
                            p ERP Management / Javascript / Salesforce E-Commerce
                    
      
          a.left.carousel-control.bgnone(href="#professional", role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control.bgnone(href="#professional", role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next




