mixin carousel_vendor()
    .carousel.slide#vendor(data-ride='carousel',data-type='multi')
          //- Wrapper for slides
          ol.carousel-indicators
             li(data-target="#vendor",data-slide-to="0",class="active")
             li(data-target="#vendor",data-slide-to="1")
             li(data-target="#vendor",data-slide-to="2")
          .carousel-inner(role='listbox')
            div.item.active
              div.carousel-data.col-md-6.col-sm-6.col-xs-12.col-lg-6
                 .row
                    .col-sm-3.text-center
                       img(src="#{cdn('/ReviewImg1.png')}", alt='') 
                    .col-sm-9
                        .row
                            .col-sm-1
                               div.fa.fa-quote-left.pull-left
                            .col-sm-11
                               i.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hend rerit libero in tellus condimentum, sit amet placerat nisl imper diet. Aenean sollicitudin dui ut velit suscipit scelerisque.
                        .row
                            .col-sm-11.col-sm-offset-1
                              div
                                i.text-uppercase.text-primary JOHN VAN
                                i President and CEO at XYZ
              div.carousel-data.col-md-6.col-sm-6.col-xs-12.col-lg-6
                 .row
                    .col-sm-3.text-center
                       img(src="#{cdn('/ReviewImg2.png')}", alt='') 
                    .col-sm-9
                        .row
                            .col-sm-1
                               div.fa.fa-quote-left.pull-left
                            .col-sm-11
                               i.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hend rerit libero in tellus condimentum, sit amet placerat nisl imper diet. Aenean sollicitudin dui ut velit suscipit scelerisque.
                        .row
                            .col-sm-11.col-sm-offset-1
                              div
                                i.text-uppercase.text-primary JOHN VAN
                                i President and CEO at XYZ
            div.item
              div.carousel-data.col-md-6.col-sm-6.col-xs-12.col-lg-6
                 .row
                    .col-sm-3.text-center
                       img(src="#{cdn('/ReviewImg2.png')}", alt='') 
                    .col-sm-9
                        .row
                            .col-sm-1
                               div.fa.fa-quote-left.pull-left
                            .col-sm-11
                               i.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hend rerit libero in tellus condimentum, sit amet placerat nisl imper diet. Aenean sollicitudin dui ut velit suscipit scelerisque.
                        .row
                            .col-sm-11.col-sm-offset-1
                              div
                                i.text-uppercase.text-primary JOHN VAN
                                i President and CEO at XYZ
              div.carousel-data.col-md-6.col-sm-6.col-xs-12.col-lg-6
                 .row
                    .col-sm-3.text-center
                       img(src="#{cdn('/ReviewImg1.png')}", alt='') 
                    .col-sm-9
                        .row
                            .col-sm-1
                               div.fa.fa-quote-left.pull-left
                            .col-sm-11
                               i.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hend rerit libero in tellus condimentum, sit amet placerat nisl imper diet. Aenean sollicitudin dui ut velit suscipit scelerisque.
                        .row
                            .col-sm-11.col-sm-offset-1
                              div
                                i.text-uppercase.text-primary JOHN VAN
                                i President and CEO at XYZ
            div.item
              div.carousel-data.col-md-6.col-sm-6.col-xs-12.col-lg-6
                 .row
                    .col-sm-3.text-center
                       img(src="#{cdn('/ReviewImg1.png')}", alt='') 
                    .col-sm-9
                        .row
                            .col-sm-1
                               div.fa.fa-quote-left.pull-left
                            .col-sm-11
                               i.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hend rerit libero in tellus condimentum, sit amet placerat nisl imper diet. Aenean sollicitudin dui ut velit suscipit scelerisque.
                        .row
                            .col-sm-11.col-sm-offset-1
                              div
                                i.text-uppercase.text-primary JOHN VAN
                                i President and CEO at XYZ
              div.carousel-data.col-md-6.col-sm-6.col-xs-12.col-lg-6
                 .row
                    .col-sm-3.text-center
                       img(src="#{cdn('/ReviewImg2.png')}", alt='') 
                    .col-sm-9
                        .row
                            .col-sm-1
                               div.fa.fa-quote-left.pull-left
                            .col-sm-11
                               i.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hend rerit libero in tellus condimentum, sit amet placerat nisl imper diet. Aenean sollicitudin dui ut velit suscipit scelerisque.
                        .row
                            .col-sm-11.col-sm-offset-1
                              div
                                i.text-uppercase.text-primary JOHN VAN
                                i President and CEO at XYZ




