.company_profile
  .row
    .col-sm-12.col-md-12
      .panel.panel-profile.panel-default
        .panel-body
          if editSection=='basic'
              form.media(method='post',action='#{"/company/edit/"+profileData.uid}' enctype='multipart/form-data')
                .row
                  .col-sm-12
                    .btn_close
                      a.cancle.pull-right.closeBtn(href='#{"/company/"+profileData.uid}',title='Close')
                        span.fa.fa-times
                .row
                  .col-sm-4.col-lg-3
                    .media-left
                      input(type='hidden',value='#{profileData.name}',name='id')
                      input(type='hidden',value='company',name='connectFrom')
                      if profileData.companyWebsite
                        - if(profileData.logo)
                            img.media-object.profilePic(src=profileData.logo,width='100px')
                        - else              
                            img.media-object.profilePic(src="#{cdn('/CompanyDummyLogo.jpg')}")
                      else 
                          - if(profileData.logo)
                              img.media-object.profilePic(src=profileData.logo,width='100px')
                          - else              
                              img.media-object.profilePic(src="#{cdn('/CompanyDummyLogo.jpg')}")
                      .text-center.upload_image
                        button.btn.btn-link(name='profilePic',id='TrgrClk') Upload logo
                        input(type='file',name='file',id='file')
                  .col-sm-8.col-lg-9
                    .media-body
                      .form
                        .form-group
                            input.form-control(type='text',required='required',data-errorholder='Name', placeholder='Name',name='name',value='#{profileData.name}')
                        .form-group
                            if(userIsOwner)
                                select.form-control.notSelect2(name='type', data-placeholder='Company Type',data-errorholder='Company Type',style='width:100%')
                                  +PreselectBoxQuick(masterCollections.vendorTypes,[profileData.type])
                            else
                                select.form-control.notSelect2(name='type', data-placeholder='Company Type',data-errorholder='Company Type',style='width:100%' disabled)
                                  +PreselectBoxQuick(masterCollections.vendorTypes,[profileData.type])
                        .form-group
                            input.form-control.text-capitalize(type='text',required='required',data-errorholder='locations',placeholder='Locations',name='companyLocations',value='#{ profileData.companyLocations?profileData.companyLocations:""}')
                        .form-group
                            if profileData.followers && profileData.followers.profiles
                              h3.media-heading Followers: #{followerProfile}
                        //--.form-group
                            h3.media-heading.margin0 Overall Rating:
                              +rating(3,{})
                        .form-group.hidden-xs
                           .row
                             .col-sm-12.text-right
                               button.btn.btn-primary.form-control.btn-heading(type='submit') Submit
                               a.btn.btn-default.form-control.btn-heading(href='#{"/company/"+profileData.uid+"?editSection=basic"}') Reset
                        .form-group.visible-xs.hidden-sm
                           .row
                             .col-xs-12
                               button.btn.btn-primary.form-control.margin0(type='submit') Submit
                             .col-xs-12.filterMargin
                               a.btn.btn-default.form-control.margin0(href='#{"/company/"+profileData.uid+"?editSection=basic"}') Reset
          else
            .media
              .row
                  .col-sm-12
                    if isAdmin
                      form.pull-right.edit(method='get',action='#{"/company/"+profileData.uid}')
                        input(type='hidden',name='editSection',value='basic')
                        button.btn.btn-link.edit(title='Edit')
                          span.fa.fa-pencil
              .row
                .col-lg-3.col-sm-4
                  .media-left
                    if profileData.companyWebsite
                        - if(profileData.logo)
                              img.media-object.profilePic(src=profileData.logo,width='100px')
                        - else
                              img.media-object.profilePic(src="#{cdn('/CompanyDummyLogo.jpg')}")
                      else 
                          - if(profileData.logo)
                              img.media-object.profilePic(src=profileData.logo,width='100px')
                          - else              
                              img.media-object.profilePic(src="#{cdn('/CompanyDummyLogo.jpg')}")
                .col-lg-9.col-sm-8
                  .media-body.profileContainer
                    h1.media-heading.fullName.inline-block #{profileData.name}
                    =" "
                    if profileData.type
                      if profileData.type._id != 1
                        h1.media-heading.fullName.text-capitalize.inline-block.hidden-xs #{', '}
                        &nbsp;
                        label.text-capitalize| #{profileData.type.name}
                    if profileData.companyLocations
                      h3.text-capitalize #{profileData.companyLocations}
                    //-if profileData.companyWebsite
                      h3 #{profileData.companyWebsite}
  if isDesktop
    if profileData.type._id == 2 || profileData.type._id == 3
      ul.nav.nav-tabs.company_consulting.marginT_30.functional_profile(role='tablist')
          li.active.text-center(role='presentation')
            a(href='#about', aria-controls='about', role='tab', data-toggle='tab') About
          li.text-center(role='presentation')
            a(href='#products', aria-controls='products', role='tab', data-toggle='tab') Products
            if isAdmin
              img.plus2.edit_plus.absolute(src="#{cdn('/plus.png')}" alt="Edit" title="Edit")
          li.text-center(role='presentation')
            a(href='#clients', aria-controls='clients', role='tab', data-toggle='tab') Clients
            if isAdmin
              img.plus3.edit_plus.absolute(src="#{cdn('/plus.png')}" alt="Edit" title="Edit")
          li.text-center(role='presentation')
            a(href='#technologyPartners', aria-controls='clients', role='tab', data-toggle='tab') Technology Partners
            if isAdmin
              img.plus3.edit_plus.absolute(src="#{cdn('/plus.png')}" alt="Edit" title="Edit")
      .tab-content
          #about.tab-pane.active.media(role='tabpanel')
            if editSection=='detail'
              .panel.panel-default
                .panel-body
                  .row
                    .col-xs-12
                      form.pull-right.edit(action="" method="post")
                        a.cancle.pull-right.closeBtn(href='#{"/company/"+profileData.uid}',title='Close')
                          span.fa.fa-times
                  .row
                    .col-xs-12 
                      form.text-center(method='post',action='#{"/company/edit/"+profileData.uid}' enctype='multipart/form-data')
                        input(type='hidden',value='#{profileData.name}',name='id')
                        .row
                          .col-xs-12
                            textarea.form-control.txtArea_notes(name='description',placeholder='Please provide detailed description about the company. eg. <Company> is a business aligned technology services provider...',style='max-width:100%; height:130px') #{profileData.description}
                        .row
                          if profileData.type._id != 3
                            div.form-group.col-xs-12.text-left.filterMargin
                              label.text-primary.text-capitalize Specialities
                              select.form-control(name='speciality', data-taggable='true',data-master='enterpriseSoftware',data-placeholder='speciality', multiple,data-errorholder='speciality',style='width:100%')
                                +setSelected(masterCollections.enterpriseSoftware,profileData.speciality)
                        .row
                          .form-group.col-md-3.col-sm-6.text-left.filterMargin
                            label.text-primary.text-capitalize location
                            if profileData.companyLocations
                              input.form-control(type='text',required,name='companyLocations',data-errorholder='locations',value='#{profileData.companyLocations}')
                            else
                              input.form-control(type='text',required,name='companyLocations',data-errorholder='locations')
                          .form-group.col-md-3.col-sm-6.text-left.filterMargin
                            label.text-primary.text-capitalize website
                            if profileData.companyWebsite
                              input.form-control(type='text',required,name='companyWebsite',data-errorholder='website',value="#{profileData.companyWebsite}")
                            else
                              input.form-control(type='text',required,name='companyWebsite',data-errorholder='website')
                          .form-group.col-md-3.col-sm-6.filterMargin.text-left
                            label.text-primary.text-capitalize company size 
                            select#headCount.sortSelectOnNum.form-control.select2(name='headCount', data-placeholder='Head Count',style="width: 100%")
                              +PreselectBoxQuick(masterCollections.headCount,[profileData.headCount])
                          .form-group.col-md-3.col-sm-6.text-left.filterMargin 
                            label.text-primary.text-capitalize annual revenue
                            select#annualRevenue.sortSelectOnNum.form-control.select2(name='annualRevenue',data-placeholder='Annual Revenue',style="width: 100%")
                              +PreselectBoxQuick(masterCollections.annualRevenue,[profileData.annualRevenue])
                          .form-group.hidden-xs
                            .row
                              .col-sm-12.text-right  
                                button.btn.btn-primary.form-control.btn-heading(type='submit') Submit
                                a.btn.btn-default.form-control.btn-heading(href='#{"/company/"+profileData.uid+"?editSection=detail"}') Reset
                          .form-group.visible-xs.hidden-sm
                            .row
                              .col-xs-12 
                                button.btn.btn-primary.form-control.margin0(type='submit') Submit
                              .col-xs-12.filterMargin
                                a.btn.btn-default.form-control.margin0(href='#{"/company/"+profileData.uid+"?editSection=detail"}') Reset
            else
              .panel.panel-description.panel-default
                .panel-body
                  if isAdmin
                    form.pull-right.edit(method='get',action='#{"/company/"+profileData.uid}')
                      input(type='hidden',name='editSection',value='detail')
                      button.btn.btn-link.edit(title='Edit')
                        span.fa.fa-pencil
                  .row
                    .col-lg-12.col-xs-12                                      
                      .quoted-text.expand-collapse
                        if profileData.description && profileData.description.length
                          pre #{profileData.description}
                          button.btn.btn-link.seemoreQtext.block more                            
          #products.tab-pane(role='tabpanel')
            .panel.panel-default
              .panel-body
                #products
                  if user
                    div.addProduct
                      input(type='hidden',value='company',name='connectFrom',id='connectFrom')
                      input(type='hidden',value='#{profileData._id}',name='companyId',id='companyId')
                      input(type='hidden',value='true',name='isNew',id='isNew')
                      h4.text-uppercase.text-left.add-company add Products
                      +addProduct("products",profileData._id,"company",'/product/createProduct',profileData.name)
                    if profileData.products && profileData.products.length
                        if isAdmin
                          +compProducts(profileData.products,"",profileData._id,"company")
                        else
                          +compProducts(profileData.products)
                        .row.seeAllProfile.margin0
                            .col-xs-12.text-center
                                 if isAdmin && profileData.products.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/product?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/product?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if profileData.products.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/product?connectionFrom=company"+"&uid="+profileData.uid}') See all
                    else
                      if !isAdmin
                        span.noClients There are no products added
                      else
                        span.noClients Please add products to profile
                  else
                    .row.seeAllProfile
                      .col-xs-12.text-center
                        a(href="/register") Sign up to CSquire
          #clients.tab-pane(role='tabpanel')
            .panel-default.panel
              .panel-body
                  if user
                  div.addClients
                    h4.text-uppercase.text-left.add-company add Client
                    select.addTo.form-control(name='compnayProfile', data-master='compnayProfile',data-placeholder='Enter company name', required='required',data-errorholder='compnayProfile',style='width:100%')
                    span.comment
                    form#pstcomform(action="/addPastCompany?tab=clients&connectFrom=company&connectFromId=#{profileData._id}",method="post")
                      .form-group
                        .row
                          .col-lg-6.col-md-6.col-sm-6(style="margin-top: 19px;")
                            input.form-control#companyname(type='text',name='name' placeholder='Company Name',required='required',data-errorholder='Company Name')
                          .col-lg-6.col-md-6.col-sm-6                  
                            input.form-control#companyurl(type='text', name='companyWebsite',placeholder='Company Website',required='required',data-errorholder='Company Website',pattern='/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/')
                      .form-group
                        .row
                          .col-lg-6.col-md-6.col-sm-6                  
                            input.form-control#location(type='text', name='companyLocations', placeholder='Location (at least one)',required='required',data-errorholder='Location')
                          .col-lg-6.col-md-6.col-sm-6
                            .dropdown
                              select#annualRevenue.sortSelectOnNum.form-control.select2(name='annualRevenue',data-placeholder='Annual Revenue',style="width: 100%",required='required',data-errorholder='Annual Revenue')
                                +PreselectBox(revenues,[])
                      .form-group              
                        .row
                          .col-lg-6.col-md-6.col-sm-6
                            .dropdown
                              select#headCount.sortSelectOnNum.form-control.select2(name='headCount', data-placeholder='Head Count',style="width: 100%",required='required',data-errorholder='Head Count')
                                +PreselectBox(headcounts,[])
                      .form-group 
                        .row
                          .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            textarea#desc.txtArea_notes.col-lg-12.col-md-12.col-sm-12.col-xs-12.form-control(name="description",placeholder="Company Short Description")
                            div.clearfix
                      .form-group.hidden-xs
                        .row 
                          div.col-sm-12.text-right
                              button.btn.btn-primary.btn-heading#addCompanyBtn(type='submit') Save
                              input.btn.btn-primary.btn-heading#addmoreCompany(type='submit', name='addMore', value='AddMore')
                              button.btn.btn-default.btn-heading#companyCancel(type="button") Reset
                      .form-group.visible-xs.hidden-sm
                        .row 
                          div.col-xs-12
                              button.btn.btn-primary.margin0.form-control#addCompanyBtn(type='submit') Save
                          div.col-xs-12.filterMargin
                              input.btn.btn-primary.margin0.form-control#addmoreCompany(type='submit', name='addMore', value='AddMore')
                          div.col-xs-12.filterMargin
                              button.btn.btn-default.margin0.form-control#companyCancel(type="button") Reset
                  div
                    if user                    
                      if pastClient && pastClient.length                     
                        +company(pastClient,"",profileData._id,"company",isAdmin)
                        .row.seeAllProfile.margin0
                          .col-xs-12.text-center
                                 if isAdmin && pastClient.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/company?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if pastClient.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}') See all
                      else
                        if !isAdmin
                          span.noClients There are no clients
                        else
                          span.noClients Please add clients to profile
                    else
                      row.seeAllProfile
                        .col-xs-12.text-center
                          a(href="/register") Sign up to CSquire
          #technologyPartners.tab-pane(role='tabpanel')
            .panel.panel-default
              .panel-body
                div.addClients
                  h4.text-uppercase.text-left.add-company add Technology Partner
                  +addCompany("technologyPartners","company",profileData._id,'technologyPartner','technology partner')
                div
                  if user
                    if technologyPartner.length
                      +company(technologyPartner,'technologyPartners_1',profileData._id,"company",isAdmin)
                      .row.seeAllProfile
                        .col-xs-12.text-center
                                 if isAdmin && technologyPartner.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/company?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if technologyPartner.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}') See all
                    else
                      if !isAdmin
                        span.noClients There are no technology partners added
                      else
                        span.noClients Please add technology partners to profile
                  else
                    row.seeAllProfile
                      .col-xs-12.text-center
                        a(href="/register") Sign up to CSquire
    else
      ul.nav.nav-tabs.company_marketing.marginT_30.functional_profile(role='tablist')
          li.active.text-center(role='presentation')
            a(href='#about', aria-controls='about', role='tab', data-toggle='tab') About
          li.text-center(role='presentation')
            a(href='#employees', aria-controls='employees', role='tab', data-toggle='tab') Employees
          li.text-center(role='presentation')
            a(href='#productsUsed', aria-controls='clients', role='tab', data-toggle='tab') Products Used
            if isAdmin
              img.plus2.edit_plus.absolute(src="#{cdn('/plus.png')}" alt="Edit" title="Edit")
          li.text-center(role='presentation')
            a(href='#servicePartners', aria-controls='clients', role='tab', data-toggle='tab') Service Partners
            if isAdmin
              img.plus3.edit_plus.absolute(src="#{cdn('/plus.png')}" alt="Edit" title="Edit")
          li.text-center(role='presentation')
            a(href='#technologyPartners', aria-controls='clients', role='tab', data-toggle='tab') Technology Partners
            if isAdmin
              img.plus3.edit_plus.absolute(src="#{cdn('/plus.png')}" alt="Edit" title="Edit")
      .tab-content
          #about.tab-pane.active.media(role='tabpanel')
            if editSection=='detail'
              .panel.panel-default
                .panel-body
                  .row
                    .col-xs-12
                      form.pull-right.edit(action="" method="post")
                        a.cancle.pull-right.closeBtn(href='#{"/company/"+profileData.uid}',title='Close')
                          span.fa.fa-times
                  .row
                    .col-xs-12 
                      form.text-center(method='post',action='#{"/company/edit/"+profileData.uid}' enctype='multipart/form-data')
                        input(type='hidden',value='#{profileData.name}',name='id')
                        .row
                          .col-xs-12
                            textarea.form-control.txtArea_notes(name='description',placeholder='Please provide detailed description about the company. eg. <Company> is a business aligned technology services provider...',style='max-width:100%') #{profileData.description}
                        .row
                          if profileData.type._id != 3
                            div.form-group.col-xs-12.text-left
                              label.text-primary.filterMargin Specialties
                              select.form-control(name='speciality', data-taggable='true', data-master='enterpriseSoftware',data-placeholder='speciality', multiple,data-errorholder='speciality',style='width:100%')
                                +setSelected(masterCollections.enterpriseSoftware,profileData.speciality)
                        .row
                          .form-group.col-md-3.col-sm-6.text-left
                            label.text-primary.text-capitalize location
                            if profileData.companyLocations
                              input.form-control(type='text',required,name='companyLocations',data-errorholder='locations',value='#{profileData.companyLocations}')
                            else
                              input.form-control(type='text',required,name='companyLocations',data-errorholder='locations')
                          .form-group.col-md-3.col-sm-6.text-left
                            label.text-primary.text-capitalize website
                            if profileData.companyWebsite
                              input.form-control(type='text',required,name='companyWebsite',data-errorholder='website',value="#{profileData.companyWebsite}")
                            else
                              input.form-control(type='text',required,name='companyWebsite',data-errorholder='website')
                          .form-group.text-left.col-md-3.col-sm-6 
                            label.text-primary.text-capitalize company size 
                            select#headCount.sortSelectOnNum.form-control.select2(name='headCount', data-placeholder='Head Count',style="width: 100%")
                              +PreselectBoxQuick(masterCollections.headCount,[profileData.headCount])
                          .form-group.text-left.col-md-3.col-sm-6 
                            label.text-primary.text-capitalize annual revenue
                            select#annualRevenue.sortSelectOnNum.form-control.select2(name='annualRevenue',data-placeholder='Annual Revenue',style="width: 100%")
                              +PreselectBoxQuick(masterCollections.annualRevenue,[profileData.annualRevenue])
                        .row
                          .col-sm-12.text-right  
                            .form-group.hidden-xs
                                button.btn.btn-primary.form-control.btn-heading(type='submit') Submit
                                a.btn.btn-default.form-control.btn-heading(href='#{"/company/"+profileData.uid+"?editSection=detail"}') Reset
                        .row.visible-xs.hidden-sm
                          .col-xs-12
                            button.btn.btn-primary.form-control.margin0(type='submit') Submit
                          .col-xs-12.filterMargin
                            a.btn.btn-default.form-control.margin0(href='#{"/company/"+profileData.uid+"?editSection=detail"}') Reset
            else
              .panel.panel-description.panel-default
                .panel-body
                  if isAdmin
                    form.pull-right.edit(method='get',action='#{"/company/"+profileData.uid}')
                      input(type='hidden',name='editSection',value='detail')
                      button.btn.btn-link.edit(title='Edit')
                        span.fa.fa-pencil
                  .row
                    .col-lg-12.col-xs-12                                      
                      .quoted-text.expand-collapse
                        if profileData.description && profileData.description.length
                          pre #{profileData.description}
                          button.btn.btn-link.seemoreQtext.block more
                  .row
                    .col-lg-12.col-xs-12  
                              if companyTags           
                                .col-sm-12
                                  h4.media-heading.text-left Tags                              
                                  each val, index in companyTags
                                       if index == companyTags.length-1
                                        if index+1 <= 5
                                            p= val.name
                                          else
                                            p.hide= val.name
                                            p.btn.btn-link.bgnone.seemoreList more
                                       else
                                          if index+1 <= 5
                                            p= val.name
                                          else
                                            p.hide= val.name 
          #employees.tab-pane(role='tabpanel')
            .panel.panel-description.panel-default
              .panel-body
                #products                  
                  if user
                    if employee && employee.length
                      +personProfile(employee)
                      .row.seeAllProfile
                        .col-xs-12.text-center
                                 if isAdmin && employee.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/people?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/people?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if employee.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/people?connectionFrom=company"+"&uid="+profileData.uid}') See all
                    else
                      if !isAdmin
                        span.noClients There are no employees connected to the company
                      else
                        span.noClients There are no employees connected to the company
                  else
                    .row.seeAllProfile
                      .col-xs-12.text-center
                        a(href="/register") Sign up to CSquire
          #productsUsed.tab-pane(role='tabpanel')
            .panel.panel-description.panel-default
              .panel-body
                div.addProduct
                    input(type='hidden',value='company',name='connectFrom',id='connectFrom')
                    input(type='hidden',value='#{profileData._id}',name='companyId',id='companyId')
                    h4.text-uppercase.text-left.add-company add Product Used
                    +addProduct("productsUsed",profileData._id,"company",'','','productsUsed','product used')
                div
                  if user
                    //h4 #{JSON.stringify(productsUsed)}
                    if profileData.connections && profileData.connections.products && profileData.connections.products.length
                        if isAdmin
                          +products(productsUsed,"product",profileData._id,'company')
                        else
                          +products(productsUsed)
                        .row.seeAllProfile
                            .col-xs-12.text-center
                                 if isAdmin && productsUsed.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/product?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/product?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if productsUsed.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/product?connectionFrom=company"+"&uid="+profileData.uid}') See all
                    else
                      if !isAdmin
                        span.noClients There are no products added
                      else
                        span.noClients Please add products to profile 
                  else
                    .row.seeAllProfile
                      .col-xs-12.text-center
                        a(href="/register") Sign up to CSquire
          #servicePartners.tab-pane(role='tabpanel')
            .panel.panel-description.panel-default
              .panel-body
                 div.addClients
                    input(type='hidden',value='company',name='connectFrom',id='connectFrom')
                    input(type='hidden',value='#{profileData._id}',name='companyId',id='companyId')
                    h4.text-uppercase.text-left.add-company add Service Partner
                    +addCompany("servicePartners","company",profileData._id,'servicePartner','service partner')
                  if user
                    if servicePartner && servicePartner.length
                      +company(servicePartner,"",profileData._id,"company",isAdmin)
                      .row.seeAllProfile
                        .col-xs-12.text-center
                                 if isAdmin && servicePartner.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/company?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if servicePartner.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}') See all
                    else
                      if !isAdmin
                        span.noClients There are no service partners added
                      else
                        span.noClients Please add service partners to profile 
                  else
                    .row.seeAllProfile
                      .col-xs-12.text-center
                        a(href="/register") Sign up to CSquire
          #technologyPartners.tab-pane(role='tabpanel')
            .panel.panel-description.panel-default
              .panel-body
                div.addClients
                  h4.text-uppercase.text-left.add-company add Technology Partner
                  +addCompany("technologyPartners","company",profileData._id,'technologyPartner','technology partner')            
                if user
                    if technologyPartner && technologyPartner.length
                      +company(technologyPartner,"",profileData._id,"company",isAdmin)
                      .row.seeAllProfile
                        .col-xs-12.text-center
                                 if isAdmin && technologyPartner.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/company?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if technologyPartner.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}') See all
                    else
                      if !isAdmin
                        span.noClients There are no technology partners added
                      else
                        span.noClients Please add technology partners to profile 
                else
                 .row.seeAllProfile
                   .col-xs-12.text-center
                      a(href="/register") Sign up to CSquire
  else
    #accordion.panel-groupdiv.hidden-lg.hidden-md.hidden-sm.visible-xs.marginT_30(role='tablist', aria-multiselectable='true')
      if profileData.type._id == 2 || profileData.type._id == 3
        .panel.panel-default
          #about.panel-heading(role='tab')
            h4.panel-title
              a.block.text-uppercase.text-center(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                | About
          #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='about')
            if editSection=='detail'
                .panel-body
                  .row
                    .col-xs-12
                      form.pull-right.edit(action="" method="post")
                        a.cancle.pull-right.closeBtn(href='#{"/company/"+profileData.uid}',title='Close')
                          span.fa.fa-times
                  .row
                    .col-xs-12 
                      form.text-center(method='post',action='#{"/company/edit/"+profileData.uid}' enctype='multipart/form-data')
                        input(type='hidden',value='#{profileData.name}',name='id')
                        .row
                          .col-xs-12
                            textarea.form-control.txtArea_notes(name='description',placeholder='Please provide detailed description about the company. eg. <Company> is a business aligned technology services provider...',style='max-width:100%') #{profileData.description}
                        .row
                          if profileData.type._id != 3
                            div.form-group.col-xs-12.text-left
                              label.text-primary Specialties
                              select.form-control(name='speciality', data-taggable='true',data-master='enterpriseSoftware',data-placeholder='speciality', multiple,data-errorholder='speciality',style='width:100%')
                                +setSelected(masterCollections.enterpriseSoftware,profileData.speciality)
                        .row
                          .form-group.col-md-3.col-sm-6.text-left
                            label.text-primary.text-left.text-primary.text-capitalize location
                            if profileData.companyLocations
                              input.form-control(type='text',required,name='companyLocations',data-errorholder='locations',value='#{profileData.companyLocations}')
                            else
                              input.form-control(type='text',required,name='companyLocations',data-errorholder='locations')
                          .form-group.col-md-3.col-sm-6.text-left
                            label.text-primary.text-left.text-primary.text-capitalize website
                            if profileData.companyWebsite
                              input.form-control(type='text',required,name='companyWebsite',data-errorholder='website',value="#{profileData.companyWebsite}")
                            else
                              input.form-control(type='text',required,name='companyWebsite',data-errorholder='website')
                          .form-group.col-md-3.col-sm-6.text-left
                            label.text-primary.text-left.text-primary.text-capitalize company size 
                            select#headCount.sortSelectOnNum.form-control.select2(name='headCount', data-placeholder='Head Count',style="width: 100%")
                              +PreselectBoxQuick(masterCollections.headCount,[profileData.headCount])
                          .form-group.col-md-3.col-sm-6.text-left
                            label.text-primary.text-left.text-primary.text-capitalize annual revenue
                            select#annualRevenue.sortSelectOnNum.form-control.select2(name='annualRevenue',data-placeholder='Annual Revenue',style="width: 100%")
                              +PreselectBoxQuick(masterCollections.annualRevenue,[profileData.annualRevenue])
                          .form-group.hidden-xs
                            .row
                              .col-sm-12.text-right  
                                button.btn.btn-primary.form-control.btn-heading(type='submit') Submit
                                a.btn.btn-default.form-control.btn-heading(href='#{"/company/"+profileData.uid+"?editSection=detail"}') Reset
                          .form-group.hidden-sm.visible-xs
                            .row
                              .col-xs-12  
                                button.btn.btn-primary.form-control.margin0(type='submit') Submit
                              .col-xs-12.filterMargin
                                a.btn.btn-default.form-control.margin0(href='#{"/company/"+profileData.uid+"?editSection=detail"}') Reset
            else
              .panel.panel-description
                .panel-body
                  if isAdmin
                    form.pull-right.edit(method='get',action='#{"/company/"+profileData.uid}')
                      input(type='hidden',name='editSection',value='detail')
                      button.btn.btn-link.edit(title='Edit')
                        span.fa.fa-pencil
                  .row
                    .col-lg-12.col-xs-12                                      
                      .quoted-text.expand-collapse
                        if profileData.description && profileData.description.length
                           pre #{profileData.description}
                           button.btn.btn-link.seemoreQtext.block more
        .panel.panel-default
          #products.panel-heading.relative(role='tab')
            h4.panel-title
              a.collapsed.block.text-uppercase.text-center(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                | Products
              if isAdmin
                img.plus2.edit_plus.absolute(src="#{cdn('/plus.png')}" alt="Edit" title="Edit")
          #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='expertise')
            .panel-body
                #products
                  if user
                    div.addProduct
                      input(type='hidden',value='company',name='connectFrom',id='connectFrom')
                      input(type='hidden',value='#{profileData._id}',name='companyId',id='companyId')
                      input(type='hidden',value='true',name='isNew',id='isNew')
                      h4.text-uppercase.text-left.add-company add Products
                      +addProduct("products",profileData._id,"company",'/product/createProduct',profileData.name)
                    if profileData.products && profileData.products.length
                        if isAdmin
                          +compProducts(profileData.products,"",profileData._id,"company")
                        else
                          +compProducts(profileData.products)
                        .row.seeAllProfile.margin0
                            .col-xs-12.text-center
                                 if isAdmin && profileData.products.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/product?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/product?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if profileData.products.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/product?connectionFrom=company"+"&uid="+profileData.uid}') See all
                    else
                      if !isAdmin
                        span.noClients There are no products added 
                      else
                        span.noClients Please add products to profile
                  else
                    .row.seeAllProfile
                      .col-xs-12.text-center
                        a(href="/register") Sign up to CSquire
        .panel.panel-default
          #clients.panel-heading.relative(role='tab')
            h4.panel-title
              a.collapsed.block.text-uppercase.text-center(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                | Clients
              if isAdmin
                img.plus3.edit_plus.absolute(src="#{cdn('/plus.png')}" alt="Edit" title="Edit")
          #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='clients')
            .panel-body
                div
                  if user
                    div.addClients
                      h4.text-uppercase.text-left.add-company add Client
                      select.addTo.form-control(name='compnayProfile', data-master='compnayProfile',data-placeholder='Enter company name', required='required',data-errorholder='compnayProfile',style='width:100%')
                      span.comment
                      form#pstcomform(action="/addPastCompany?tab=clients&connectFrom=company&connectFromId=#{profileData._id}",method="post")
                        .form-group
                          .row
                            .col-lg-6.col-md-6.col-sm-6
                              input.form-control#companyname(type='text',name='name' placeholder='Company Name',required='required',data-errorholder='Company Name')
                            .col-lg-6.col-md-6.col-sm-6                  
                              input.form-control#companyurl(type='text', name='companyWebsite',placeholder='Company Website',required='required',data-errorholder='Company Website',pattern='/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/')
                        .form-group
                          .row
                            .col-lg-6.col-md-6.col-sm-6                  
                              input.form-control#location(type='text', name='companyLocations', placeholder='Location (at least one)',required='required',data-errorholder='Location')
                            .col-lg-6.col-md-6.col-sm-6
                              .dropdown
                                select#annualRevenue.sortSelectOnNum.form-control.select2(name='annualRevenue',data-placeholder='Annual Revenue',style="width: 100%",required='required',data-errorholder='Annual Revenue')
                                  +PreselectBox(revenues,[])
                        .form-group              
                          .row
                            .col-lg-6.col-md-6.col-sm-6
                              .dropdown
                                select#headCount.sortSelectOnNum.form-control.select2(name='headCount', data-placeholder='Head Count',style="width: 100%",required='required',data-errorholder='Head Count')
                                  +PreselectBox(headcounts,[])
                        .form-group 
                          .row
                            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                              textarea#desc.txtArea_notes.col-lg-12.col-md-12.col-sm-12.col-xs-12.form-control(name="description",placeholder="Company Short Description")
                              div.clearfix
                        .form-group.hidden-xs
                          .row 
                            div.col-sm-12.text-right
                                button.btn.btn-primary.btn-heading#addCompanyBtn(type='submit') Save
                                input.btn.btn-primary.btn-heading#addmoreCompany(type='submit', name='addMore', value='AddMore')
                                button.btn.btn-default.btn-heading#companyCancel(type="button") Reset
                        .form-group.visible-xs.hidden-sm
                          .row 
                            div.col-xs-12
                              button.btn.btn-primary.margin0.form-control#addCompanyBtn(type='submit') Save
                            div.col-xs-12.filterMargin
                              input.btn.btn-primary.margin0.form-control#addmoreCompany(type='submit', name='addMore', value='AddMore')
                            div.col-xs-12.filterMargin
                              button.btn.btn-default.margin0.form-control#companyCancel(type="button") Reset
                  else
                      .row.seeAllProfile
                        .col-xs-12.text-center
                        a(href="/register") Sign up to CSquire
                  div
                    if user                    
                      if pastClient && pastClient.length                     
                        +company(pastClient,"",profileData._id,"company",isAdmin)
                        .row.seeAllProfile.margin0
                          .col-xs-12.text-center
                                 if isAdmin && pastClient.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/company?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if pastClient.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}') See all
                      else
                        if !isAdmin
                          span.noClients There are no Clients added
                        else
                          span.noClients Please add Clients to profile
                    else
                      .row.seeAllProfile
                        .col-xs-12.text-center
                        a(href="/register") Sign up to CSquire
        .panel.panel-default
          #technologyPartners.panel-heading.relative(role='tab')
            h4.panel-title
              a.collapsed.block.text-uppercase.text-center(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseThree')
                | Technology Partners
              if isAdmin
                img.plus3.edit_plus.absolute(src="#{cdn('/plus.png')}" alt="Edit" title="Edit")
          #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='technologyPartners')
            .panel-body
                div
                  if user
                    div.addClients
                      h4.text-uppercase.text-left.add-company add Technology Partner
                      +addCompany("technologyPartners","company",profileData._id,'technologyPartner','technology partner')
                    if technologyPartner.length
                      +company(technologyPartner,'technologyPartners_1',profileData._id,"company",isAdmin)
                      .row.seeAllProfile
                        .col-xs-12.text-center
                                 if isAdmin && technologyPartner.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/company?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if technologyPartner.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}') See all
                    else
                      if !isAdmin
                        span.noClients There are no technology partners added
                      else
                        span.noClients Please add technology partners to profile 
                  else
                    .row.seeAllProfile
                      .col-xs-12.text-center
                        a(href="/register") Sign up to CSquire
      else
        .panel.panel-default
          #about.panel-heading(role='tab')
            h4.panel-title
              a.block.text-uppercase.text-center(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse_One', aria-expanded='true', aria-controls='collapseOne')
                | About
          #collapse_One.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='about')
            if editSection=='detail'
                .panel-body
                  .row
                    .col-xs-12
                      form.pull-right.edit(action="" method="post")
                        a.cancle.pull-right.closeBtn(href='#{"/company/"+profileData.uid}',title='Close')
                          span.fa.fa-times
                  .row
                    .col-xs-12 
                      form.text-center(method='post',action='#{"/company/edit/"+profileData.uid}' enctype='multipart/form-data')
                        input(type='hidden',value='#{profileData.name}',name='id')
                        .row
                          .col-xs-12
                            textarea.form-control.txtArea_notes(name='description',placeholder='Please provide detailed description about the company. eg. <Company> is a business aligned technology services provider...',style='max-width:100%') #{profileData.description}
                        .row
                          if profileData.type._id != 3
                            div.form-group.col-xs-12.text-left
                              label.text-primary Specialties
                              select.form-control(name='speciality', data-taggable='true', data-master='enterpriseSoftware',data-placeholder='speciality', multiple,data-errorholder='speciality',style='width:100%')
                                +setSelected(masterCollections.enterpriseSoftware,profileData.speciality)
                        .row
                          .form-group.col-md-3.col-sm-6.text-left 
                            label.text-primary.text-left.text-primary.text-capitalize location
                            if profileData.companyLocations
                              input.form-control(type='text',required,name='companyLocations',data-errorholder='locations',value='#{profileData.companyLocations}')
                            else
                              input.form-control(type='text',required,name='companyLocations',data-errorholder='locations')
                          .form-group.col-md-3.col-sm-6.text-left 
                            label.text-primary.text-left.text-primary.text-capitalize website
                            if profileData.companyWebsite
                              input.form-control(type='text',required,name='companyWebsite',data-errorholder='website',value="#{profileData.companyWebsite}")
                            else
                              input.form-control(type='text',required,name='companyWebsite',data-errorholder='website')
                          .form-group.col-md-3.col-sm-6.text-left
                            label.text-primary.text-left.text-primary.text-capitalize company size 
                            select#headCount.sortSelectOnNum.form-control.select2(name='headCount', data-placeholder='Head Count',style="width: 100%")
                              +PreselectBoxQuick(masterCollections.headCount,[profileData.headCount])
                          .form-group.col-md-3.col-sm-6.text-left
                            label.text-primary.text-left.text-primary.text-capitalize annual revenue
                            select#annualRevenue.sortSelectOnNum.form-control.select2(name='annualRevenue',data-placeholder='Annual Revenue',style="width: 100%")
                              +PreselectBoxQuick(masterCollections.annualRevenue,[profileData.annualRevenue])
                        .row  
                          .form-group.col-md-3.col-sm-5.col-md-offset-6.col-sm-offset-2
                            button.btn.btn-primary.form-control(type='submit') Submit  
                          .form-group.col-md-3.col-sm-5
                            a.btn.btn-default.form-control(href='#{"/company/"+profileData.uid+"?editSection=detail"}') Reset
            else
                .panel-body
                  if isAdmin
                    form.pull-right.edit(method='get',action='#{"/company/"+profileData.uid}')
                      input(type='hidden',name='editSection',value='detail')
                      button.btn.btn-link.edit(title='Edit')
                        span.fa.fa-pencil
                  .row
                    .col-lg-12.col-xs-12                                      
                      .quoted-text.expand-collapse
                        if profileData.description && profileData.description.length
                          pre #{profileData.description}
                          button.btn.btn-link.seemoreQtext.block more
        .panel.panel-default
          #employees.panel-heading(role='tab')
            h4.panel-title
              a.collapsed.block.text-uppercase.text-center(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse_Two', aria-expanded='false', aria-controls='collapseTwo')
                | Employees
          #collapse_Two.panel-collapse.collapse(role='tabpanel', aria-labelledby='employees')
            .panel-body
                #products                  
                  if user
                    if employee && employee.length
                      +personProfile(employee)
                      .row.seeAllProfile
                        .col-xs-12.text-center
                                 if isAdmin && employee.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/people?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/people?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if employee.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/people?connectionFrom=company"+"&uid="+profileData.uid}') See all
                    else
                      if !isAdmin
                        span.noClients There are no employees connected to the company
                      else
                        span.noClients There are no employees connected to the company
                  else
                   .row.seeAllProfile
                     .col-xs-12.text-center
                       a(href="/register") Sign up to CSquire
        .panel.panel-default
          #productsUsed.panel-heading.relative(role='tab')
            h4.panel-title
              a.collapsed.block.text-uppercase.text-center(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse_Three', aria-expanded='false', aria-controls='collapseThree')
                | Products used
              if isAdmin
                img.plus2.edit_plus.absolute(src="#{cdn('/plus.png')}" alt="Edit" title="Edit")
          #collapse_Three.panel-collapse.collapse(role='tabpanel', aria-labelledby='productsUsed')
            .panel-body
                div.addProduct
                    input(type='hidden',value='company',name='connectFrom',id='connectFrom')
                    input(type='hidden',value='#{profileData._id}',name='companyId',id='companyId')
                    h4.text-uppercase.text-left.add-company add Product Used
                    +addProduct("productsUsed",profileData._id,"company",'','','productsUsed','product used')
                div
                  if user
                    if profileData.connections && profileData.connections.products && profileData.connections.products.length
                        if isAdmin
                          +products(productsUsed,"product",profileData._id,'company')
                        else
                          +products(productsUsed)
                        .row.seeAllProfile
                            .col-xs-12.text-center
                                 if isAdmin && profileData.connections.products.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/product?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/product?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if profileData.connections.products.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/product?connectionFrom=company"+"&uid="+profileData.uid}') See all
                    else
                      if !isAdmin
                        span.noClients There are no products added
                      else
                        span.noClients Please add products to profile 
                  else
                    .row.seeAllProfile
                      .col-xs-12.text-center
                        a(href="/register") Sign up to CSquire
        .panel.panel-default
          #servicePartners.panel-heading.relative(role='tab')
            h4.panel-title
              a.collapsed.block.text-uppercase.text-center(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse_Four', aria-expanded='false', aria-controls='collapseThree')
                | Service Partners
              if isAdmin
                img.plus3.edit_plus.absolute(src="#{cdn('/plus.png')}" alt="Edit" title="Edit")
          #collapse_Four.panel-collapse.collapse(role='tabpanel', aria-labelledby='servicePartners')
              .panel-body
                  div.addClients
                    input(type='hidden',value='company',name='connectFrom',id='connectFrom')
                    input(type='hidden',value='#{profileData._id}',name='companyId',id='companyId')
                    h4.text-uppercase.text-left.add-company add Service Partner
                    +addCompany("servicePartners","company",profileData._id,'servicePartner','service partner')
                  if user
                    if servicePartner && servicePartner.length
                      +company(servicePartner,"",profileData._id,"company",isAdmin)
                      .row.seeAllProfile
                        .col-xs-12.text-center
                                 if isAdmin && servicePartner.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/company?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if servicePartner.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}') See all
                    else
                      if !isAdmin
                        span.noClients There are no service partners added
                      else
                        span.noClients Please add service partners to profile 
                  else
                    .row.seeAllProfile
                      .col-xs-12.text-center
                        a(href="/register") Sign up to CSquire
        .panel.panel-default
          #technologyPartners.panel-heading.relative(role='tab')
            h4.panel-title
              a.collapsed.block.text-uppercase.text-center(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse_Five', aria-expanded='false', aria-controls='collapseThree')
                | Technology Partners
              if isAdmin
                img.plus3.edit_plus.absolute(src="#{cdn('/plus.png')}" alt="Edit" title="Edit")
          #collapse_Five.panel-collapse.collapse(role='tabpanel', aria-labelledby='technologyPartners')
            .panel-body
              div.addClients
                  h4.text-uppercase.text-left.add-company add Technology Partner
                  +addCompany("technologyPartners","company",profileData._id,'technologyPartner','technology partner')            
                if user
                    if technologyPartner && technologyPartner.length
                      +company(technologyPartner,"",profileData._id,"company",isAdmin)
                      .row.seeAllProfile
                        .col-xs-12.text-center
                                 if isAdmin && technologyPartner.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href=isSuperUser?'#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}':'#{"/search/connections/company?"+"&connectionFrom=company&uid="+profileData.uid}') See all                               
                                 else if technologyPartner.length > 2
                                   div.see-all-align
                                     a.fa.fa-angle-double-right(href='#{"/search/connections/company?connectionFrom=company"+"&uid="+profileData.uid}') See all
                    else
                      if !isAdmin
                        span.noClients There are no technology partners added
                      else
                        span.noClients Please add technology partners to profile 
                else
                 .row.seeAllProfile
                   .col-xs-12.text-center
                      a(href="/register") Sign up to CSquire