- function formatTextCapitalize(x) {
-   return x.replace(/\b\w/g , function(m){ return m.toUpperCase(); } );
-}
if isSuperUser && manageProfile!=profileData.uid
  .panel
    a.button-heading.text-uppercase.follow.block.fav(href="#{'/product/'+profileData.uid+'?manageProfile=true'}")
      span Manage Profile
if user && !isMangingCompProd
  if(isCon)
   form.panel(action='/profile-con/people/product/people/people/#{profileData.uid}/#{profileData._id}/false',method='post')
     a.button-heading.text-uppercase.follow#remove-connection.block
       span Remove from Connection 
       <i class="fa fa-minus pull-right text-inverse"></i>
       //img(src="#{cdn('/connection_aside.png')}")
  else
   form.panel(action='',method='post')
     a.button-heading.text-uppercase.follow#add-connection.block(data-connectto="product" data-id='#{profileData._id}')
       span Add Connection
       img(src="#{cdn('/connection_aside.png')}")

if (!isAdmin && !isMangingCompProd) || (isSuperUser && !isMangingCompProd)
  //.panel
    if user
      a.button-heading.disabled.text-uppercase#follow.block Write a Testimonial <i class="fa fa-pencil-square-o pull-right text-inverse"></i>
  .panel
      if user
        if !isFollower
          a.button-heading#follow.followHim.text-uppercase.block(uid='#{profileData.uid}',myUid='#{myUid}',_id='#{profileData._id}') Follow Version History <i class="fa fa-star-o pull-right"></i>
          a.button-heading.text-uppercase#follow.unfollowHim.hidden.block(uid='#{profileData.uid}',myUid='#{myUid}',_id='#{profileData._id}') Unfollow Version History<i class="fa fa-star pull-right" style="color:yellow"></i>
        else
          a.button-heading#follow.followHim.hidden.text-uppercase.block(uid='#{profileData.uid}',myUid='#{myUid}',_id='#{profileData._id}') Follow Version History <i class="fa fa-star-o pull-right"></i>
          a.button-heading#follow.unfollowHim.text-uppercase.block(uid='#{profileData.uid}',myUid='#{myUid}',_id='#{profileData._id}') Unfollow Version History <i class="fa fa-star pull-right" style="color:yellow"></i>
      else
        a.button-heading#follow.text-uppercase.block(href='/register') Follow <i class="fa fa-star-o pull-right text-inverse"></i>
//if user
  .panel
      a.button-heading.disabled.text-uppercase.block#follow CONTACT US <i class="fa fa-envelope-o pull-right text-inverse"></i>

if user && !isMangingCompProd && manageProfile!=profileData.uid
    .panel
      //-a.button-heading.disabled.text-uppercase.block#follow CLAIM THIS PAGE <i class="fa fa-exchange pull-right text-inverse"></i>
      if(isClaimed)
        a.button-heading.disabled.text-uppercase#claimed.block CLAIM PENDING <i class="fa fa-exchange pull-right text-inverse"></i>
      else if(userIsOwner)
        a.button-heading.disabled.text-uppercase#claimed.block CLAIMED <i class="fa fa-exchange pull-right text-inverse"></i>
      else
        a.button-heading.text-uppercase#claim.block(claimId='#{profileData._id}',claimType='product',status='pending') CLAIM THIS PAGE <i class="fa fa-exchange pull-right text-inverse"></i>
input#_id(type="hidden",value= profileData._id)
if(key)
   input#profile-type(type="hidden",value= key)
  
   if !isMangingCompProd
     .panel
       if(isFav)
         a.button-heading.follow.fav.text-uppercase.block#add-favourite(data-fav='product' data-id='#{profileData._id}')
           span Remove from Favorite 
           <i class="fa fa-minus pull-right text-inverse"></i>
       else if(user)
         a.button-heading.follow.text-uppercase.block#add-favourite(data-fav='product' data-id='#{profileData._id}')
           span Add to Favorite
           <i class="fa fa-plus pull-right text-inverse"></i>
       else
         a.button-heading.follow.text-uppercase.block(href='/register')
           span Add to Favorite
           <i class="fa fa-plus pull-right text-inverse"></i>



.panel.panel-default
  .panel-heading.text-uppercase.text-center product experts
  .panel-body.text-center
    if consultantsProfile && consultantsProfile.length>0
      each item in consultantsProfile
        if item.refId.pictureUrl && user
          a.clientImg.secondary(href='#{"/people/"+item.refId.uid}',title='#{item.refId.name+" "+item.refId.lastName}',style='#{"background-image:url("+item.refId.pictureUrl+") !important"}')
        else
          a.clientImg.secondary(href='#{"/people/"+item.refId.uid}',title='#{item.refId.name+" "+item.refId.lastName}',style='#{"background-image:url("+cdn("/profile.jpg")+") !important"}')
      div.col-xs-12
        a.btn.btn-link(href='#{"/search/productExperts/people?connectionFrom=product&uid="+profileData.uid}') See All <i class="fa fa-angle-double-right"></i>
    else
      span There are no product experts

if user
  .panel.panel-default
    .panel-heading.text-uppercase.text-center Followers
    .panel-body.text-center
      - var followers= profileData.followers.profiles;
      if followers.length>0
        each item in followers
          if item.pictureUrl
            a.clientImg.secondary(href='#{"/people/"+item.uid}',title='#{item.name+" "+item.lastName}',style='#{"background-image:url("+item.pictureUrl+") !important"}')
          else
            a.clientImg.secondary(href='#{"/people/"+item.uid}',title='#{item.name+" "+item.lastName}',style='#{"background-image:url("+cdn("/profile.jpg")+") !important"}')            
        div.col-xs-12
          a.btn.btn-link(href='#{"/search/followers/people?connectionFrom=product&type=product&uid="+profileData.uid}') see all <i class="fa fa-angle-double-right"></i>
      else
        span There are no followers