ul#Tab.nav.nav-tabs.radius_none.quickSupportTab
  li.text-center( class=(tab === 'waiting' ? 'active' : ''))
    a#allwaiting(href='/quickSupport/dashboard/waiting')
      | Waiting (#{quicksupportCount.waiting})
  li.text-center( class=(tab === 'question' ? 'active' : ''))
    a#allQues(href='/quickSupport/dashboard/questions?filterProfile=true')
      | All Question (#{quicksupportCount.question})
  li.text-center( class=(tab === 'answered' ? 'active' : ''))
    a#allanswered(href='/quickSupport/dashboard/answered')
      | Answered (#{quicksupportCount.answered})
  li.text-center( class=(tab === 'asked' ? 'active' : ''))
    a#allasked(href='/quickSupport/dashboard/asked')
      | Asked (#{quicksupportCount.asked})
  li.text-center( class=(tab === 'feedback' ? 'active' : ''))
    a#allpending(href='/quickSupport/dashboard/feedback')
      | Pending Feedback (#{quicksupportCount.feedback})