doctype html

html

  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title #{title || 'CSquire'}
    
    link(rel='shortcut icon', href=cdn('/favicon.ico'), type='image/x-icon')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Josefin+Sans:700|Open+Sans:400,300,700')
    link(rel='stylesheet', href=cdn('/bootstrap.min.css', {key: 'bootstrapCDNcss'}))
    link(rel='stylesheet', href=cdn('/lib/bootstrap/bootstrap-datepicker/css/bootstrap-datepicker3.css'))
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(href=cdn('/screen.min.css'), rel='stylesheet', media='screen')
    link(href=cdn('/print.min.css'), rel='stylesheet', media='print')
    link(href=cdn('/select2.min.css', {key: 'select2CDNcss'}), rel='stylesheet')
    block stylesheet

  body.home-container
    //Google Tag Manager
    | <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WSXV89"
    | height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    | <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    | new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    | j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    | '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    | })(window,document,'script','dataLayer','#{googleTagId}');</script>
    // End Google Tag Manager

    include ../widgets/header
    
    #content
      block content
    
    include ../widgets/footer
    
    script(src=cdn('/jquery-2.1.1.min.js', {key: 'jqueryCDNjs'}))
    script(src=cdn('/lib/jquery/jquery-bootstrap-rating.js'))
    script(src=cdn('/bootstrap.min.js', {key: 'bootstrapCDNjs'}))
    script(src=cdn('/lib/bootstrap/bootstrap-datepicker/js/bootstrap-datepicker.min.js'))
    script(src=cdn('/select2.min.js', {key: 'select2CDNjs'}))
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.12.0/jquery.validate.js')
    script(src=cdn('/lib/jquery/jqplaceholder.js'))
    script(src=cdn('/header.js'))

    block js
